<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <div class="site-wrapper">
      {{{body}}}
      <div class="site-footer">
        <div class="designed-by">
          <div class="designed-by-row">Designed by <a href="https://twitter.com/AcceptableIce">@AcceptableIce</a>.</div>
          <div class="designed-by-row">Inspired by <a href="http://imgur.com/a/tnpU4/">the Adam Smith Institute</a>.</div>
        </div>
        <div class="legal">
          All contents of this blog are copyright their respective authors.
        </div>
      </div>
    </div>
  </body>
</html>